<!DOCTYPE html>
{% load staticfiles %}
 <html>
 <head>
		<link rel="stylesheet/less" type="text/css" href={% static "footer/css/footer.less" %}>
		<link rel="stylesheet" type="text/css" href={% static "fontAwsome/font-awesome-4.3.0/css/font-awesome.min.css" %}>
 	<title></title>
 </head>
 <body>
 	    <div id="test-div ">
 	    	
 	    </div>
 	 	<div id="information">
      <div id="about_us" class="info">
          
         <ul>
           <li><h4>Know Aura</h4></li> 
           <li><a>About Us</a></li>
           <li><a>Privacy Policy</a></li>
         </ul>
      </div>
      <div id="customer_service" class="info">
        <ul>
           <li><h4>Customer Service</h4></li>
           <li><a>Payment options</a></li>
           <li><a>Return Policy</a></li>
           <li><a>Shipping Policy</a></li>
           <li><a>Terms and Conditions</a></li>
           <li><a>Frequently Asked Questions</a></li>
         </ul>
      </div>
      
      <div id="visit_us" class="info">
        <ul>
           <li><h4>Visit Us</h4></li>
           <div>
           	<i class="fa fa-building-o" aria-hidden="true"> </i>G-33, Ring Road Mall, Sector-3, Rohini, Delhi-110085
           </div>
         </ul>  
      </div>

      <div id="contact_us" class="info">
        <ul>
          <li><h4>Contact Us</h4></li>
          <li>+91-9891113841</li>
          <li>+91-9310113841</li>
          <li>contactus@aura.com</li>
        </ul>
      </div>
    </div>
    <!-- </div> -->
    <div class="rough"></div>
 	 </div>
 	 <script src={% static "less.js-master/dist/less.js" %} type="text/javascript"></script>
		<script type="text/javascript" src={% static "jQuery/jquery-1.11.2.min.js" %}></script>
		<script type="text/javaascript" src={% static "bootstrap/bootstrap-3.3.5-dist/js/bootstrap.min.js" %}></script>
 </body>
 </html>
	


