<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head lang="en">
		<title>Aura | Jwellery</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src={% static "jQuery/jquery-1.11.2.min.js" %}></script>
		<link rel="stylesheet" type="text/css" href={% static "fontAwsome/font-awesome-4.3.0/css/font-awesome.min.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "bootstrap/bootstrap-3.3.5-dist/css/bootstrap.min.css" %}>
		<link rel="stylesheet/less" type="text/css" href={% static "jwelleryProductPage/css/jwelleryProductPage.less" %}>
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="page">
			{% include "navbar/navbar.html" %}
			<!--Never Use Class .navBar -->
			<div class="mainContent">
				<div class="wrapper">
					<div class="productPannel">
						<div class="products">
							{% for product in products %}
							<div class="product">
								<div class="image">
								</div>
								<h2>{{product.product_category}}</h2>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rough"></div>
		<script src={% static "less.js-master/dist/less.js" %} type="text/javascript"></script>
		<script type="text/javascript" src={% static "jQuery/jquery-1.11.2.min.js" %}></script>
		<script type="text/javaascript" src={% static "bootstrap/bootstrap-3.3.5-dist/js/bootstrap.min.js" %}></script>
		<script type="text/javascript" src={% static "jwelleryProductPage/js/jwelleryProductPage.js"%}></script>
	</body>
</html>
